<div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carouselFade" data-slide-to="0" class="active"></li>
        <li data-target="#carouselFade" data-slide-to="1"></li>
        <li data-target="#carouselFade" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="carousel-caption">
                <strong>Unique and Modern Design</strong>
                <h1>Portfolio PSD Template</h1>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                    placerat facer possim assum.</p><br>
                <button type="button" class="btn btn-success-1">Get started</button>

            </div>
        </div>
        <div class="item">
            <div class="carousel-caption">
                <strong>Unique and Modern Design</strong>
                <h2>Second slide label</h2>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                    placerat facer possim assum.</p><br>
                <button type="button" class="btn btn-success-1">Get started</button>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption">
                <strong>Unique and Modern Design</strong>
                <h2>Third slide label</h2>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                    placerat facer possim assum.</p><br>
                <button type="button" class="btn btn-success-1">Get started</button>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carouselFade" data-slide="prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="73px" class='arrow-left'>
            <path d="M38.026,72.979 L0.005,36.498 L38.026,0.018 L39.995,2.022 L4.066,36.498 L39.995,70.977 L38.026,72.979 Z"/>
        </svg>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carouselFade" data-slide="next">
        <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="73px" class='arrow-right'>

            <path d="M1.974,72.979 L39.995,36.498 L1.974,0.018 L0.005,2.022 L35.934,36.498 L0.005,70.977 L1.974,72.979 Z"/>

        </svg>
        <span class="sr-only">Next</span>
    </a>
</div>