<div class="gradient-section">
    <div class="container">
        <div class="row">
            <h2 class="section-gradient col-xs-10">
                <span class="section-gradient-main"><span style="color:rgb(199, 178, 153)">Waxom</span> Multipurpose WordPress Theme</span>
                <small class="section-gradient-desc">
                    Don't Forget to Rate the Template. Thanks so much!
                </small>
            </h2>
            <div class="btn-control col-xs-2 text-right">
                <button type="button" class="btn btn-success-2">Purchase Now</button>
            </div>
        </div>
    </div>
</div>
