<header id="header">
    <i class="fa fa-bars toggle-menu"></i>
    <div class="sidebar-menu">
        <i class="fa fa-times"></i>
        <div class="container">
            <div class="row control-header">
                <div class="header-logo col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <a href="../index.html" class="logo" id="logo">
                        <img src="../../images/logo.svg">Waxom
                    </a>
                </div>
                <nav class="header-menu col-xs-6">
                    <ul class="menu">
                        <li class="menu-item"><a href="../index.html" class="menu-link">Home</a></li>
                        <li class="menu-item"><a href="../about.html" class="menu-link">About Us</a></li>
                        <li class="menu-item"><a href="../portfolio.html" class="menu-link">Portfolio</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Features</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Blog</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Pricing</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Shortcodes</a></li>
                        <li class="menu-item"><a href="../contact.html" class="menu-link">Contact</a></li>
                    </ul>
                </nav>
                <div class="header-assets col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <form class="search-container" action="">
                        <a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                        <input class="search-box" id="search-box" type="search" name="" placeholder="Search...">
                        <label class="search-icon-container" for="search-box">
                            <span class="search-icon glyphicon glyphicon-search"></span>
                        </label>
                        <input class="search-btn" type="submit" title="Submit" value="search">
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>


