<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="img-phone text-center">
                <img src="../../images/iPhone.jpg" alt="">
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <div class="row">
                <div class="section-header-phone">
                    <h3 class="section-header-phone-title">Excellent for Mobile Devices.</h3>
                    <span class="section-header-phone-desc">Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</span>
                </div>

                <ul class="section-header-phone-list">
                    <li class="section-header-phone-item">Nam liber tempor cum soluta nobis eleifend option;</li>
                    <li class="section-header-phone-item">Option congue nihil imperdiet doming id quod mazim placerat
                        facer;
                    </li>
                    <li class="section-header-phone-item">Eodem modo typi, qui nunc nobis videntur parum futurum;</li>
                    <li class="section-header-phone-item">Investigationes demonstraverunt lectores</li>
                </ul>
            </div>
        </div>
    </div>
</div>