<section class="bg-section1">
    <div class="container">
        <div class="row">
            <header>
                <h2 class="section-heading">
                    <span class="section-heading-main">Recent Posts.</span>
                    <small class="section-heading-desc">Investigationes demonstraverunt lectores legere me lius quod ii
                        legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                    </small>
                </h2>
            </header>
            <div class="control-section-post col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="section-post">
                    <div class="section-post-container">
                        <div class="section-post-date">
                            <div class="section-post-date-day">30</div>
                            <div class="section-post-date-month">Sep.</div>
                        </div>
                        <img src="../../images/img-legs.jpg" alt="">
                    </div>
                    <div class="section-post-header">
                        <h3 class="section-post-header-title">Lorem ipsum dolor sit amet</h3>
                        <p class="section-post-header-desc">Claritas est etiam processus dynamicus, qui sequitur
                            mutationem consuetudium.</p>
                        <a href="#" class="section-post-header-link">Read More</a>
                    </div>
                </div>
            </div>

            <div class="control-section-post col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="section-post">
                    <div class="section-post-container">
                        <div class="section-post-date">
                            <div class="section-post-date-day">30</div>
                            <div class="section-post-date-month">Sep.</div>
                        </div>
                        <img src="../../images/img-mack.jpg" alt="">
                    </div>
                    <div class="section-post-header">
                        <h3 class="section-post-header-title">Lorem ipsum dolor sit amet</h3>
                        <p class="section-post-header-desc">Claritas est etiam processus dynamicus, qui sequitur
                            mutationem consuetudium.</p>
                        <a href="#" class="section-post-header-link">Read More</a>
                    </div>
                </div>
            </div>

            <div class="control-section-post col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="section-post">
                    <div class="section-post-container">
                        <div class="section-post-date">
                            <div class="section-post-date-day">30</div>
                            <div class="section-post-date-month">Sep.</div>
                        </div>
                        <img src="../../images/img-boat.jpg" alt="">
                    </div>
                    <div class="section-post-header">
                        <h3 class="section-post-header-title">Lorem ipsum dolor sit amet</h3>
                        <p class="section-post-header-desc">Claritas est etiam processus dynamicus, qui sequitur
                            mutationem consuetudium.</p>
                        <a href="#" class="section-post-header-link">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>