<div class="partners">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <div class="partners-logo">
                    <img src="../../images/logo-01.png" class="partners-logo-img" alt="">
                </div>
            </div>
            <div class="col-xs-3">
                <div class="partners-logo">
                    <img src="../../images/logo-02.png" class="partners-logo-img" alt="">
                </div>
            </div>
            <div class="col-xs-3">
                <div class="partners-logo">
                    <img src="../../images/logo-03.png" class="partners-logo-img" alt="">
                </div>
            </div>
            <div class="col-xs-3">
                <div class="partners-logo">
                    <img src="../../images/logo-04.png" class="partners-logo-img" alt="">
                </div>
            </div>
        </div>
    </div>
</div>