<section class="bg-section1">
    <div class="container">
        <div class="row">
            <header>
                <h2 class="section-heading">
                    <span class="section-heading-main">Waxom is Realization of your Ideas.</span>
                    <small class="section-heading-desc">Investigationes demonstraverunt lectores legere me lius quod ii
                        legunt saepius. Claritas est
                        etiam processus dynamicus, qui sequitur mutationem consuetudium.
                    </small>
                </h2>
                <img src="../../images/bg_group.png" alt="bg-slider" class="img-bg-group">
            </header>
        </div>
    </div>
</section>