<section class="section-upper-footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="upper-footer">
                    <a href="#" class="upper-footer-logo">
                        <img src="../../images/logo.svg">Waxom
                    </a>
                    <div class="upper-footer-subtitle">
                        <div class="upper-footer-subtitle-desc">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                            nostrud exerci suscipit lobortis claritatem.
                        </div>
                        <a href="#" class="upper-footer-subtitle-link">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="posts">
                    <div class="posts-header">
                        <h3 class="posts-header-title">Recent Posts</h3>
                        <p class="posts-header-date">September 08, 2015</p>
                        <span class="posts-header-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>
                    </div>
                    <div class="posts-header">
                        <p class="posts-header-date">September 08, 2015</p>
                        <span class="posts-header-desc">Diam nonummy nibh euismod tincidunt ut laoreet dolore magna</span>
                    </div>
                    <div class="posts-header">
                        <p class="posts-header-date">September 08, 2015</p>
                        <span class="posts-header-desc border-none">Claritas est etiam processus dynamicus, qui sequitur mutationem per seacula quarta decima</span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="feeds">
                    <h3 class="posts-header-title">Our Twitter</h3>
                    <p class="feeds-desc"><a href="#" class="feeds-desc-link">@waxom</a> Cum soluta nobis eleifend
                        option congue nihil imperdiet doming</p>
                    <span class="feeds-time">3 mins ago</span>

                    <p class="feeds-desc">Mirum est <a href="#" class="feeds-desc-link">#envato</a> notare quam littera
                        gothica, quam nunc putamus parum
                        anteposuerit litterarum</p>
                    <span class="feeds-time">5 hours ago</span>
                    <p class="feeds-desc">Soluta nobis option <a href="#" class="feeds-link">bit.ly/1Hniso7</a></p>
                    <span class="feeds-time border-none">20 days ago</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="widget">
                    <h3 class="posts-header-title">Dribbble Widget</h3>
                    <div class="widget-image">
                        <img src="../../images/photo2.jpg" alt="">
                        <img src="../../images/photo-1.jpg" alt="">
                        <img src="../../images/photo0.jpg" alt="">
                        <img src="../../images/photo.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>